doctype html
html
	include ./header.pug

	body
		h1= title

		h2 We are Vuing Pug for the first time!

		#friends
			friends-list(:friends='friendList')

		p how awesome is Vuing Pug?!

		include ./footer.pug